<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

    <ion-card>
      <ion-card-content>

        <ion-row>
          <ion-col>
            <app-input
            type="email"
            label="Email"
            placeholder="example@prueba.com"
            [control]="email"></app-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <app-input
            type="password"
            label="Password"
            placeholder=""
            [control]="password"
          ></app-input></ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <a [routerLink]="['/register']">Create an account</a>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <app-button
              type="submit"
              color="primary"
              value="Login"
              [disabled]="loginForm.invalid"
            ></app-button>
          </ion-col>
        </ion-row>
        
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
