<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-header class="menu-header">
      <div class="user-row">
        <ion-avatar class="avatar">
          <img src="assets/avatar-placeholder.png" alt="avatar" />
        </ion-avatar>

        <div class="user-info">
          <div class="name">{{ userName }}</div>
          <div class="status">
            <span class="dot"></span>
            <span>Online</span>
          </div>
        </div>

        <ion-icon name="chevron-forward" class="chev"></ion-icon>
      </div>
    </ion-header>

    <ion-content>
      <ion-list lines="full" class="cat-list">
        <ion-item
          button
          detail="true"
          *ngFor="let c of categories"
          (click)="openCategory(c.id)"
        >
          <ion-label>{{ c.title }}</ion-label>
        </ion-item>
      </ion-list>

      <div class="logout-box">
        <ion-button fill="outline" expand="block" (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          Logout
        </ion-button>
      </div>
    </ion-content>
  </ion-menu>

  <!-- CONTENT -->
  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>